<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hizmetler Sayfası</title>

</head>
<body>

    {% block hizmetadi %}
    <h3>Hizmet Adı</h3> 
    {% endblock %}


    {% block hizmetaciklamasi %}
    <p>Hizmet açıklaması bu alanda yer alacaktır</p>
    {% endblock %}

</body>
</html>

<!-- şablonumuzda dinamik olmasını istediğimiz alanları block içerisine aldık ve blocklara isim verdik  -->
<!--{% block blockadi %}
.
.
.
{% endblock %}-->